<head>
  <link rel="stylesheet" href="/static/css/landing.css">
</head>

  <div class="container page">
    <div id="content" class="container main">
        <div class="col-md-6 catch">
          <h1><span class='glyphicon glyphicon-file'></span> papyl.us</h1>
          <h3 class="margin-base-vertical">モノ、本、映画をソーシャルリストに</h3>
          <a href='' ng-click='login()'><button type='button' class="btn btn-primary">Twitterでログイン</button></a>
        </div>
        <div class="col-md-6">
          <img src="https://s3-ap-northeast-1.amazonaws.com/papylus/landing_img">
        </div>
    </div>
  </div>
