
<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="/static/css/list.css">
<div class="container page">
<div class='head'>
  <h1><a ng-show='!!user.id' ng-href="/user/{{user.id}}"><span class='glyphicon glyphicon-file'></span></a></h1>
  <h1><a ng-show='!user.id' ng-href="/"><span class='glyphicon glyphicon-file'></span></a></h1>
</div>
	<div id="content" class="container main">
    <div class='row'>
      <div class='col-lg-12 text-center' id='list_content'>
        <div class='col-lg-12'>
          <h1>
            <a ng-href="/user/{{user.id}}"></a> {{list.title}}
          </h1>
        </div>
        <div class='col-lg-12'>
            <a href='/user/{{list.user.id}}'>
              <img id='profile_pic' width='30px' alt='profile_pic' src="{{list.user.icon}}">
            </a>
            created by 
            <a href='/user/{{list.user.id}}'>
              {{list.user.name}}
            </a>
        </div>
        <div class='col-lg-12' id='list_body'>
          <p style='white-space: pre;'></p>
        </div>
      </div>
      
      <div class='col-lg-12' id='items'>
        <div ng-show="list.items.length" ng-repeat="item in list.items">
          <div class='col-lg-12 animated fadeInRight' id='item'>
            <div class='col-lg-3'>
              <a ng-href='{{item.url}}?tag={{list.user.associates_id}}' target='_blank' ng-show='{{item.img.length}}'><img src='{{item.img}}'></a>
              <a ng-href='{{item.url}}?tag={{user.associates_id}}' target='_blank' ng-hide='{{item.img.length}}'>No Image Found</a>
            </div>
            <div class='col-lg-9'>
              <p>
                <a ng-href='{{item.url}}?tag={{list.user.associates_id}}' target='_blank'>
                  {{item.name}}
                </a>
              </p>
              <p ng-show='!item.publisher && item.pub_date'>({{item.pub_date}})</p>
              <p ng-show='item.publisher && !item.pub_date'>{{item.publisher}}</p>
              <p ng-show='item.publisher && item.pub_date'>{{item.publisher}} ({{item.pub_date}})</p>
              <br>
              <p id='item_body'>{{item.body}}</p>
            </div>
          </div>
          <div ng-hide='$index==list.items.length-1' class='col-lg-12'>
            <hr>
          </div>
        </div>
        <a ng-show='user.id==list.user.id && list.items.length' ng-href='/edit/{{list.user.id}}/{{list.id}}'><button type='button' class="btn btn-default">アイテムを追加する</button></a>
        <div ng-hide="list.items.length">
          <div class='col-lg-12 animated fadeInRight text-center' id='item'>
            <p>まだアイテムがありません</p>
            <p><a ng-show='user.id==list.user.id' ng-href='/edit/{{list.user.id}}/{{list.id}}'>アイテムを追加する</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
