<link rel="stylesheet" href="/static/css/main.css">
<div class="container page">
  <div id="content" class="container main">
    <div class='row'>
      <form role='form' name='editListForm' action='' ng-submit='reviseList()' novalidate>
        <div class='col-md-12'>
          <div class='form-group col-md-5' ng-class="{'has-error': editListForm.title.$invalid && !editListForm.title.$pristine, 'has-success': !editListForm.title.$invalid }">
            <label for='title'>リストのタイトル</label>
            <input id='title' class="form-control" name='title' type='text' ng-model='list.title' required autofocus>
            <p ng-show="editListForm.title.$invalid && !editListForm.title.$pristine" class="help-block">タイトルは必須項目です</p>
          </div>
        </div>
        <div class='col-md-12'>
          <div class='form-group col-md-5' ng-class="{'has-success': !editListForm.body.$invalid && !editListForm.title.$pristine }">
            <label for='body'>リストの概要（任意）</label>
            <textarea id='body' class="form-control" name='body' type='text' ng-model='list.body'>
            </textarea>
          </div>
        </div>
        <div class='col-md-12'>
          <div ng-repeat="item in list.items">
            <div>
              <div class='col-md-12 animated fadeInRight'>
                <div class='col-md-4'>
                  <a ng-href='{{item.url}}?tag=papylus-22' target='_blank'><p>{{item.name}}</p></a>
                  <a ng-href='{{item.url}}?tag=papylus-22' target='_blank' ng-show='{{item.img.length}}'><img src='{{item.img}}'></a>
                  <a ng-href='{{item.url}}?tag=papylus-22' target='_blank' ng-hide='{{item.img.length}}'>No Image Found</a>
                </div>
                <div class='col-md-4'>
                  <p>コメント</p>
                  <textarea id="" name="" cols="50" rows="8" ng-model='item.body'></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-12'>
          <div class='col-md-3'>
            <!-- Trigger Modal -->
            <button type='button' class="btn btn-default btn-lg" ng-click='searchItemModal()'>アイテムを追加</button>
          </div>
        </div>
        <div class='col-md-12'>
          <div class='col-md-3'>
            <br>
            <br>
            <button type='button' class="btn btn-warning" ng-click='cancel()'>キャンセル</button>
            <button type='submit' class="btn btn-default" ng-disabled='editListForm.$invalid'>編集を完了</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-logo">
    <span class='glyphicon glyphicon-file'></span>
  </div>
  <div class="footer-links">
  </div>
</footer>

<!  -- Modal Content -->
<script type='text/ng-template' id='searchItemModal.html'>
    <form role='form' name='searchItemForm' action='' ng-submit='searchItem()' novalidate>
      <div class="modal-header">
        <h4><span class='glyphicon glyphicon-th-list'></span> 追加するアイテムを検索</h4>
      </div>
      <div class="modal-body">
          <div class='form-group' ng-class="{'has-error': searchItemForm.query.$invalid && !searchItemForm.query.$pristine, 'has-success': !searchItemForm.query.$invalid }">
            <label for='query'>アイテム名</label>
            <input id='query' class="form-control" name='query' type='text' ng-model='data.query' required autofocus>
            <button type='submit' class="btn btn-default" ng-disabled='searchItemForm.$invalid'>検索</button>
            <p ng-show="searchItemForm.query.$invalid && !searchItemForm.query.$pristine" class="help-block">アイテム名を入力してください</p>
          </div>
      </div>
    </form>
    <div ng-show='items.length'>
      <div ng-repeat="item in items" >
        <div>
          <div>
              <a ng-href='{{item.url}}' target='_blank'><p>{{item.name}}</p></a>
              <a ng-href='{{item.url}}' target='_blank' ng-show='{{item.img.length}}'><img src='{{item.img}}'></a>
              <a ng-href='{{item.url}}' target='_blank' ng-hide='{{item.img.length}}'>No Image Found</a>
            <br>
              <button class="btn btn-default" ng-click='addItem($index)'>このアイテムを追加</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
