<link rel="stylesheet" href="/static/css/main.css">
<div class='row'>
  <div class='col-md-3'>
    <section class="box profile">
      <div class="pic">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6035/scrtpxls_location.png"  />
      </div>
      <div class="detail">
        <h2>De Westerkerk</h2>
        <p>Prinsengracht 281</p>
        <a href="#" class="btn btn-primary btn-block btn-large">view on maps</a>
      </div>
    </section>
  </div>
  <div class='col-md-8 col-md-offset-1'>
    <div ng-hide='lists.length'>
        <button class="btn btn-default btn-lg" ng-click="modal()">
        最初のリストを作成する
        </button>
    </div>
    <div ng-show='lists.length'>
      <!-- Trigger Modal -->
      <div class='col-md-12'>
        <button class="btn btn-default" ng-click="modal()">
          リストを作成
        </button>
      </div>
      <div ng-repeat="list in lists | orderBy: '-id' ">
        <div class='col-md-12'>
          <h4><a href="/list/{{ list.id }}">{{ list.title }}</a> <a href='' ng-click='delete_list($index)'>[×]</a></h4>
          <p style='white-space: pre;'>{{ list.body }}<p>

          <p>{{ list.pub_date }}<p>
          <p>{{ $index }}<p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Content -->
<script type='text/ng-template' id='newListModal.html'>
  <form role='form' name='newListForm' action='' ng-submit='addList()' novalidate>
    <div class="modal-header">
      <h4><span class='glyphicon glyphicon-th-list'></span> 新しくリストを作成する</h4>
    </div>
    <div class="modal-body">
        <div class='form-group' ng-class="{'has-error': newListForm.title.$invalid && !newListForm.title.$pristine, 'has-success': !newListForm.title.$invalid }">
          <label for='title'>リストのタイトル</label>
          <input id='title' class="form-control" name='title' type='text' ng-model='list.title' required>
          <p ng-show="newListForm.title.$invalid && !newListForm.title.$pristine" class="help-block">タイトルは必須項目です</p>
        </div>
        <div class='form-group' ng-class="{'has-success': !newListForm.body.$invalid && !newListForm.title.$pristine }">
          <label for='body'>リストの概要（任意）</label>
          <textarea id='body' class="form-control" name='body' type='text' ng-model='list.body'></textarea>
        </div>
          <button type='button' class="btn btn-default" ng-click='cancel()'>キャンセル</button>
          <button type='submit' class="btn btn-default" ng-disabled='newListForm.$invalid'>リストを作成</button>
    </div>
    </form>
</script>
