<link rel="stylesheet" href="/static/css/main.css">
<div class="container page" ng-if='initDone'>
	<div id="content" class="container main">
    <div class='row'>
      <div class='col-md-3'>
        <section ng-show='!user.edit' class='profile'>
          <div class="pic">
            <img src="{{user.icon}}"  />
          </div>
          <div class="detail">
            <h2>{{user.name}}</h2>
            <p style='white-space: pre;'>{{user.description}}</p>
            <small ng-hide="user.associates_id=='papylus-22' || user.associates_id==''">アソシエイトID: {{user.associates_id}}</small>
            <a href='' class="btn btn-primary btn-block btn-large" ng-show='!user.edit' ng-click="editUser()" ><span class='glyphicon glyphicon-pencil'></span>プロフィールを編集</a>
          </div>
        </section>
        <section ng-show='user.edit' class='profile'>
          <div class="pic">
            <a href='' ng-click='changeIcon()'><img src="{{user.icon}}"/></a>
          </div>
            </br>
          <div class="detail">
            <form>
              <input class="form-control" type='text' ng-model='user.name' autofocus>
              <textarea class="form-control" ng-model='user.description'  placeholder='簡単なプロフィールを入力しましょう'></textarea>
              </br>
              <label for='associates'>AmazonアソシエイトID</label>
              <input class="form-control" name='associates' type='text' ng-model='user.associates_id'>
              <a href='' class="btn btn-primary btn-block btn-large" ng-click="editDone()" ><span class='glyphicon glyphicon-pencil'></span>編集を完了</a>
            </form>
          </div>
        </section>
      </div>
      <div class='col-md-8 col-md-offset-1'>
        <div ng-hide='user.lists.length'>
            <button class="btn btn-default btn-lg" ng-click="modal()">
            最初のリストを作成する
            </button>
        </div>
        <div ng-show='user.lists.length'>
          <div class='col-md-12 '>
            <h2>あなたのリスト</h2>
          </div>
          <div ng-repeat="list in user.lists | orderBy: '-id' ">
            <div class='col-md-12 '>
              <h3 style='display: inline;'><a ng-href="/list/{{list.user_id}}/{{list.id}}">{{ list.title }}</a></h3> <a ng-href='/edit/{{list.user_id}}/{{list.id}}'><span class='glyphicon glyphicon-wrench'></span></a> <a ng-href='' ng-click='delete_list($index)'><span class='glyphicon glyphicon-trash'></span></a>
              <p style='white-space: pre;'>{{ list.body }}<p>
              <hr>
            </div>
          </div>
          <!-- Trigger Modal -->
          <div class='col-md-12'>
            <button class="btn btn-default" ng-click="modal()">
              リストを作成
            </button>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Modal Content -->
    <script type='text/ng-template' id='newListModal.html'>
      <form role='form' name='newListForm' action='' ng-submit='addList()' novalidate>
        <div class="modal-header">
          <h4><span class='glyphicon glyphicon-th-list'></span> 新しくリストを作成する</h4>
        </div>
        <div class="modal-body">
            <div class='form-group' ng-class="{'has-error': newListForm.title.$invalid && !newListForm.title.$pristine, 'has-success': !newListForm.title.$invalid }">
              <label for='title'>リストのタイトル</label>
              <input id='title' class="form-control" name='title' type='text' ng-model='list.title' required>
              <p ng-show="newListForm.title.$invalid && !newListForm.title.$pristine" class="help-block">タイトルは必須項目です</p>
            </div>
            <div class='form-group' ng-class="{'has-success': !newListForm.body.$invalid && !newListForm.title.$pristine }">
              <label for='body'>リストの概要（任意）</label>
              <textarea id='body' class="form-control" name='body' type='text' ng-model='list.body'></textarea>
            </div>
              <button type='button' class="btn btn-default" ng-click='cancel()'>キャンセル</button>
              <button type='submit' class="btn btn-default" ng-disabled='newListForm.$invalid'>リストを作成</button>
        </div>
        </form>
    </script>
	</div>
</div>
<footer class="footer">
  <div class="footer-logo">
    <span class='glyphicon glyphicon-file'></span>
  </div>
  <div class="footer-links">
  </div>
</footer>
