html{
  background:url('/static/img/Blurred Backgrounds/manatee.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100%;
}

body {
  font-size: 16px;
  background: transparent;
}

.catch {
  margin-top: 200px;
}
