<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>papyl.us</title>
  
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/landing.css">
   
</head>
<body>
  <nav class="navbar navbar-static-top" role='navigation'>
    <div class="container-fluid">
	    <div class="container page">
        <div class="navbar-header">
          <div class='col-md-12'>
          <a class="navbar-brand" href="/user"><span class='glyphicon glyphicon-file'></span> papyl.us</a>
        </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 panel panel-default">
        <h1><span class='glyphicon glyphicon-file'></span> papyl.us</h1>
        <h2 class="margin-base-vertical">あなたのお気に入りをリストにしよう</h2>
        <button type='button' class="btn btn-default"><a href='/user'>Facebookでログイン</a></button>
      </div><!-- //main content -->
    </div><!-- //row -->
  </div> <!-- //container -->
</body>
</html>
